html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px; /* This adds padding to account for the fixed navbar */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 18px;
  background: #0b0e14;
  color: #fff;
}

nav {
  background: #101525;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-style: bold;
}

.nav-links a:hover {
  color: #60a5fa;
}

.home-section {
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  
}
.home-image-section img {
      width: 300px;
      height: auto;
      border-radius: 20px; 
    }

.section {
  padding: 4rem 2rem;
  max-width: 900px;
  margin: auto;
  justify-content: center;
  
}
    .container {
      display: flex;
      align-items: center;
      gap: 50px; 
    }

    .text-section p {
      max-width: 400px;
    }

    .btn {
      background: rgb(225, 223, 231);
      color: rgb(39, 22, 78);
      padding: 10px 20px;
      border-radius: 20px;
      text-decoration: none;
      font-weight: bold;
      display: inline-block;
      margin-top: 15px;
    }

li{
  margin-bottom: 10px;
  font-size: 20px;
}

h1 {
  color: #60a5fa;
  font-size: 4rem;

}
h2 {
  color: #60a5fa;
  font-size: 2rem;

}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.project {
  border: 3px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.project:hover {
  transform: scale(1.05);
}
.project-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Contact Form */
form input, form textarea, form button {
  display: block;
  width: 80%;
  margin: 10px 0;
  padding: 10px;
}
form button {
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
  transition: all;
}
form button:hover {
  background: #555;
}
.contact-details {
  text-align: left;   /* All content goes to right side */
  
}

.home-social-icons {
  margin-top: 15px;
}

.home-social-icons a {
  font-size: 24px;       /* icon size */
  color: #e1d7d7;           /* icon color */
  margin-top: 10px;
  margin-left: 10px;     /* space between icons */
  margin-bottom: 10px;
  text-decoration: none; /* remove underline */
  transition: color 0.3s;
}

.home-social-icons a:hover {
  color: #cdd3e1;        /* change color on hover */
}
footer {
  text-align: center;
  padding: 20px;
  background: #101525;
  color: #aaa;
}
